h1 {
  color: palegreen;
  font-weight: bold;
}
h2 {
  color: white;
  font-style: normal;
  font-weight: lighter;
}
p {
  width: 40%;
}
p.emphasis{
  color: mediumspringgreen;
  font-size: 20px;
  font-weight: bold
  width: 40%;
  padding-left: 25px;
}
p.detail {
  padding-left: 25px;
}

body {
  background-color: slategrey;
}
